.container {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;
}

.container p, .container h2, .container span {
  color: #000;
}

.container h2 {
  font-size: 2em;
  font-weight: 600;
}

.container .frameNumber {
  font-size: 1.1em;
}

.kanji {
  display: block;
  margin-right: 30px;
  font-size: 4em;
  font-weight: 900;
  text-align: center;
} 

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story p {
  display: block;
  font-size: 1.2em;
}

.story i {
  opacity: 0.6;
}

.story span {
  display: block;
  font-size: 0.9em;
  opacity: 0.8;
  margin-top: 5px;
}

.details {

}

.details span {
  display: block;
  font-weight: 200;
  margin-right: 10px;
}

.details span:last-child {
  margin-right: 0;
}

.details span b {
  font-weight: 600;
}

.primitives {

}

.primitives {
  display: inline-block;
  font-style: italic;
  opacity: 0.6;
}

.primitives b {
  font-weight: 400;
}

.jlpt {
  font-size: 1.6em;
  font-weight: 800 !important;
  opacity: 0.6;;
}

.jlpt.level_N5 {
  color: #4CAF50;
}

.jlpt.level_N4 {
  color: #2196F3;
}

.jlpt.level_N3 {
  color: #FF9800;
}

.jlpt.level_N2 {
  color: #FF5722;
}

.jlpt.level_N1 {
  color: #cd0505;
}