article > pre {
  margin: 24px 0;
}
article pre code {
  padding: 20px !important;
  border-radius: 10px;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-weight: bold;
}

article h1,
article h2,
article h3 {
  font-size: 1.4em;
  line-height: 1em;
  text-transform: uppercase;
}

article h1 {
  font-size: 2.8em;
  margin: 10px 0;
}

article h3 {
  font-size: 1.2em;
  margin-bottom: -6px;
  margin-top: 15px;
}

article > h1,
article > h2,
article > p,
article > ul, 
article > blockquote {
  margin: 10px 0;
}

article > .images {
  margin: 24px 0;
  padding: 0 30px;
}

article > h2 {
  margin-top: 40px;
}

article > p,
article > ul,
article > blockquote {
  padding: 0 20px;
}

article > p,
article > blockquote p,
article > ul li {
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: 300;
  color: #4a4a4a;
}

article > blockquote p {
  font-style: italic;
  padding: 10px 20px;
  border-left: 6px solid #e0e0e0 ;
}

article > p a {
  text-decoration: underline;
}

article > ul li {
  margin: 10px 0;
}

article strong {
  font-weight: bold;
  color: #000;
}

article p code {
  background-color: #dfdfdf;
  padding: 0 8px;
  font-size: .8em;
  border-radius: 4px;
  color: #474747;
}

article > p, article > h1, article > h2, article > h3 {
  padding: 0 20px;
}

article .images {
  display: flex;
}

article .images > a img {
  transition: scale .4s ease, outline .4s ease;
  outline: 0px solid #67BBC2;
  ;
}

article .images > a:hover img {
  scale: 1.015;
  outline: 5px solid #67BBC2;
}