.container {
  color: #141414;
  padding: 20px;
}

.container .section > span {
  display: block;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;

  border-bottom: 1px #c1c1c1 solid;
}

.container .section > span.more {
  font-size: 1.1em;
  line-height: .9em;
  font-weight: 100;
  text-transform: none;
  margin: 0;
  border: none;
}

.container .section ul {
  margin-bottom: 30px;
  padding: 4px;
}

.container .section ul li {
  color: #3b3b3b;
  font-size: 1.2em;
}

.container .section ul li.active {
  font-weight: 900;
}

.container .recentList {
  max-width: 250px
}

@media only screen and (max-width: 850px) {
  .container {
    text-align: right;
  }

  .nomobile {
    display: none;
  }
}