.container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 40px;
}

.container h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
}

.container h2 {
  font-size: 1.2em;
  font-weight: 100;
}

@media only screen and (max-width: 480px) {

}