.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 40px;
}

.container h1 {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1em;
  font-weight: 900;
}

.container h2 {
  font-size: 1.2em;
  font-weight: 100;
}

.date {
  font-weight: bold;
  text-transform: uppercase;
}

@media only screen and (max-width: 850px) {
  .container {
    height: 70vh;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    height: 80vh;
  }
}