.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-image-height, 100vh);
}

@media only screen and (max-width: 850px) {
  .container {
    height: var(
      --header-image-tablet-height,
      var(--header-image-height, 100vh)
    );
  }
}

@media only screen and (max-width: 480px) {
  .container {
    height: var(
      --header-image-mobile-height,
      var(--header-image-tablet-height, var(--header-image-height, 100vh))
    );
  }
}

.imageWrapper {
  background-color: #000;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
}
