.container {
  height: 65vh;
}

.title {
  max-width: 70%;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  line-height: .9em;
  padding: 10px 0;
}

.title > span {
  font-weight: 100;
  opacity: .7;
}

.desc {
  max-width: 70%;
  font-weight: 100;
  font-size: 1.1em;
}

@media only screen and (max-width: 480px) {
  .container {
    height:95vh;
  }
  
  .title {
    font-weight: 900;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
  }

  .title > span {
    display: block;
    font-size: .8em;
  }

  .desc {
    font-size: 1em;
    text-align: center;
  }
}